<div class="form-wrapper">
    <div class="form-header bg-orange">
        <h3 class="text-uppercase text-white bg-orange pmarginless padding-10">
            BOOK a TICKET
        </h3>
    </div>
    <div class="form-content bg-white padding-20">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"
                        [value]="firstname" (input)="updateValue($event)">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"
                        [value]="lastname" (input)="updateValue($event)">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" [value]="email"
                        (input)="updateValue($event)">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" [value]="phone"
                        (input)="updateValue($event)">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="travellingFrom">Travelling From:</label>
                    <select class="form-control" id="travellingFrom">
                        <option placeholder>Departure Terminal</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="travellingTo">Travelling To:</label>
                    <select class="form-control" id="travellingTo">
                        <option placeholder>Destination Terminal</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="adult">Adult:</label>
                    <select class="form-control" id="adult">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <p>{{amount}}</p>
                </div>
            </div>
            <div class="
                        col-sm-12">
                <button type="button" [disabled]="active" class="btn btn-orange btn-round btn-block text-uppercase"
                    angular-rave [PBFPubKey]="'FLWPUBK-3936ae0e7f67dd4338ee36feacaf5b07-X'" [customer_email]="email"
                    [customer_phone]="phone" [customer_firstname]="firstname" [customer_lastname]="lastname" [amount]="amount"
                    [custom_title]="'Bill Payment'" [txref]="'USR1295950'" (callback)="paymentSuccess($event)" (close)="paymentFailure()">
                    Book Now </button>
            </div>
        </div>
    </div>
</div>